<section id="r-drivers-part" class="r-drivers-part">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h3>Our Drivers.</h3>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="r-driver-detail">
          <div class="r-head">Roberto Garcia <span>5 Years Experienced as Driver</span></div>
          <div class="r-driver-text">We know the difference is in the details and that’s why our car rental services, in the tourism and business industry, stand out for their quality and good taste.</div>
          <div class="r-driver-icon">
            <ul>
              <li><i class="fa fa-facebook" aria-hidden="true"></i> <span>facebook</span></li>
              <li><i class="fa fa-twitter" aria-hidden="true"></i> <span>twitter</span></li>
              <li><i class="fa fa-behance" aria-hidden="true"></i> <span>behance</span></li>
              <li><i class="fa fa-google-plus" aria-hidden="true"></i> <span>Google+</span></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="r-driver-blog">
      <div class="owl-carousel" id="r-driver-slider">
        <div class="r-driver-box">
          <div class="r-drivers">
            <div class="r-drivers-detail">
              <div class="name">Luis <br>Henrique</div>
              <div class="text">5 Years Experience</div>
              <div class="icon">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              </div>
            </div>
            <div class="drivers-img">
              <img src="assets/images/driver-blog-img.jpg" class="img-fluid d-block m-auto" alt="">
            </div>
          </div>
        </div>
        <div class="r-driver-box">
          <div class="r-drivers">
            <div class="r-drivers-detail">
              <div class="name">Luis <br>Henrique</div>
              <div class="text">5 Years Experience</div>
              <div class="icon">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              </div>
            </div>
            <div class="drivers-img">
              <img src="assets/images/driver-blog-img-2.jpg" class="img-fluid d-block m-auto" alt="">
            </div>
          </div>
        </div>
        <div class="r-driver-box">
          <div class="r-drivers">
            <div class="r-drivers-detail">
              <div class="name">Luis <br>Henrique</div>
              <div class="text">5 Years Experience</div>
              <div class="icon">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              </div>
            </div>
            <div class="drivers-img">
              <img src="assets/images/driver-blog-img-3.jpg" class="img-fluid d-block m-auto" alt="">
            </div>
          </div>
        </div>
        <div class="r-driver-box">
          <div class="r-drivers">
            <div class="r-drivers-detail">
              <div class="name">Luis <br>Henrique</div>
              <div class="text">5 Years Experience</div>
              <div class="icon">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              </div>
            </div>
            <div class="drivers-img">
              <img src="assets/images/driver-blog-img-2.jpg" class="img-fluid d-block m-auto" alt="">
            </div>
          </div>
        </div>
        <div class="r-driver-box">
          <div class="r-drivers">
            <div class="r-drivers-detail">
              <div class="name">Luis <br>Henrique</div>
              <div class="text">5 Years Experience</div>
              <div class="icon">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              </div>
            </div>
            <div class="drivers-img">
              <img src="assets/images/driver-blog-img-2.jpg" class="img-fluid d-block m-auto" alt="">
            </div>
          </div>
        </div>
        <div class="r-driver-box">
          <div class="r-drivers">
            <div class="r-drivers-detail">
              <div class="name">Luis <br>Henrique</div>
              <div class="text">5 Years Experience</div>
              <div class="icon">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              </div>
            </div>
            <div class="drivers-img">
              <img src="assets/images/driver-blog-img-3.jpg" class="img-fluid d-block m-auto" alt="">
            </div>
          </div>
        </div>
        <div class="r-driver-box">
          <div class="r-drivers">
            <div class="r-drivers-detail">
              <div class="name">Luis <br>Henrique</div>
              <div class="text">5 Years Experience</div>
              <div class="icon">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
              </div>
            </div>
            <div class="drivers-img">
              <img src="assets/images/driver-blog-img-2.jpg" class="img-fluid d-block m-auto" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
