<section id="r-get-in-touch">
  <div class="r-get-in-touch">
    <div class="container">
      <div class="r-get-header">
        <span>CONTACT US NOW</span>
        <h2>Keep <b>In Touch.</b></h2>
      </div>
      <div class="r-get-form">
        <form action="#">
          <div class="clearfix">
            <div class="form-group"><input type="text" placeholder="User name"></div>
            <div class="form-group"><input type="email" placeholder="Email Address"></div>
          </div>
          <div class="form-group"><input type="email" placeholder="Title Message"></div>
          <div class="form-group">
            <textarea placeholder="Message"></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-full">SEND MESSAGE NOW</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>