<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="r-best-offer-single">
    <div class="r-best-offer-in">
      <div class="r-offer-img">
        <a class="d-inline-block" href="#"><img src="assets/images/car-1.png" class="img-fluid d-block m-auto" alt=""></a>
      </div>
      <div class="r-best-offer-content">
        <a href="#"><b>Volk</b> GTR</a>
        <p>Start at <b>45.00 USD</b> per day</p>
        <ul class="pl-0 mb-0">
          <li><i class="fa fa-cogs"></i><span>MANUAL</span></li>
          <li><i class="fa fa-beer"></i><span>PETROL</span></li>
          <li><i class="fa fa-road"></i><span>2.3k CC</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>